<!DOCTYPE HTML>
<html>
	<head>
		<title>Padayattil - The Transportation Company</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Padayattil is Kerala's leading Transportation and Logistics Company" />
		<meta name="keywords" content="kerala, transport, car, cars, bus, buses, logistics, tour, tours, travels, corporate, tourism, packages" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="shortcut icon" href=".\images\favicon.ico" type="image/x-icon">
		<link rel="icon" href=".\images\favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="\"><img id="headerLogo" src=".\images\Padayattil.svg"> </a></div>
				<a id="hamburgerMenu" href="#menu"><span>Menu</span></a>
			</header>

		 <!--Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="#">Home</a></li>
					<li><a href="#one">About</a></li>
					<li><a href="#two">Padayattil Advantage</a></li>
					<li><a href="#three">Our Services</a></li>
					<li><a href="#four">Our Clients</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="1.jpg">
				<div id = "alert">
					
					   <% var message ; if(message){ %>
					        <div>
					  <div>
					    <h2>Success!</h2>
					    
					  </div>
					  <div id= "alertMessage">
					    Your message has been successfully sent. We will get back to you ASAP.
					  </div>
					  <div id="closeAlert">Click anywhere to close this message.</div>
					   </div>
					    <% } %>
					    </div>
				
				<div class="inner">
				
					<header>
						<h1>Welcome to Padayattil</h1>
						<h2>Transport Solutions & Tourism Packages for Individuals, Groups & Companies</h2>
						<ul class="actions vertical">
							<li><a href="#contact" class="button special">Book Your Ride Today !</a></li>
						</ul>
					</header>
				</div>
				<a href="#one" class="more">Move to One</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Who We Are</h2>
							<p>Our Story</p>
						</header>
						<div class="content">
							<p>With over 20 years of service, we are one of the foremost providers of cab and tourism services in Kerala. Padayattil provides best in-class travel solutions to both individual and corporate clients.<br><br> Experience God's Own Country in a whole new way!</p>
						</div>
						<footer>
							<a href="#contact" class="button alt">Contact Us</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Move to Two</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>What Makes Us Special</h2>
							<p>Our Advantage</p>
						</header>
						<div class="content">
							<p>We hire the best drivers and use the latest technologies to ensure you a safe, enjoyable and stress free experience.</p>
							<div class="table-wrapper">
									<table>
										<tbody>
											<tr>
												<td><i class="fa fa-lg fa-clock-o" aria-hidden="true"></i></td>
												<td>On Time Pickup</td>
												<td>End to End Integrated Scheduling System</td>
											</tr>
											<tr>
												<td><i class="fa fa-lg fa-users" aria-hidden="true"></i></td>
												<td>Professional Drivers</td>
												<td>Drivers trained in Defensive Driving</td>
											</tr>
											<tr>
												<td><i class="fa fa-lg fa-shield" aria-hidden="true"></i></td>
												<td> Safety & Security</td>
												<td>Using GPS and other technologies to ensure your safety 24x7</td>
											</tr>
											
										</tbody>
										
									</table>
								</div>
								
						</div>
						<footer>
							<a href="#contact" class="button alt">Contact Us</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Move to Three</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>What We Do</h2>
							<p>Primary Services Provided</p>
						</header>
						<div class="content">
							<h3>Corporate Services</h3>
							<p>Padayattil undertakes all sorts of Transport solutions for the corporate sector. These services can range for arranging the daily commutes of your employees to helping you plan your corporate getaway! We are currently partnered with multiple organizations based out of Infopark, Kochi. </p>
							<hr />
							<h3>Tourism Packages</h3>
							<p>Let us transport you on a unique journey across God's Own Country in the hands of our capable drivers and guides. Our extensive range of packages can suit all your needs, whether it is for a small group or a whole company! Let us plan everything while you sit and enjoy the ride.</p>
						</div>
						<footer>
							<a href="#contact" class="button alt">Contact Us</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Move to Four</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Who Uses Padayattil</h2>
							<p>Our esteemed Clients & Partners</p>
						</header>
						<div class="content">
							<div class="alt">
									<div class="row 50% uniform">
										<div class="4u"><span class="image fit"><img src="images/client1.png" alt="" /></span></div>
										<div class="4u"><span class="image fit"><img src="images/infoparktranswhite.png" alt="" /></span></div>
										<div class="4u$"><span class="image fit"><img src="images/client2.png" alt="" /></span></div>
										
									</div>
								</div>
						</div>
						
					</article>
				</div>
				<a href="#contact" class="more">Move to Contact</a>
			</section>

		<!-- Contact -->
			<section id="contact">
				<div class="inner">

					<h2>Book Your Ride</h2>
					
					<form id = 'contactForm' action="/" method="POST">

						<div class="field">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Example : John Smith">
						</div>
						<div class="field half first">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Example : john@gmail.com">
						</div>
						<div class="field half">
							<label for="tel">Telephone</label>
							<input name="tel" id="tel" type="tel" placeholder="Example : +91 1234567890">
						</div>
						<div class="field half first">
							<label for="customerType">Are you an Individual or a Company?</label>
							<div class="select-wrapper">
								<select name="customerType" id="customerType">
									<option value="">- Select an Option -</option>
									<option value="Individual">Individual</option>
									<option value="Company">Company</option>
								</select>
							</div>
						</div>
						<div class="field half">
							<label for="serviceRequired">What service can we help you with?</label>
							<div class="select-wrapper">
								<select name="serviceRequired" id="serviceRequired">
									<option value="">- Select An Option -</option>
									<option value="Individual">Transport Solutions</option>
									<option value="Company">Tourism Packages</option>
								</select>
							</div>
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Enter your message here"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
				</div>
			</section>
			
			<!--Footer-->
			
			<footer id="footer">
				<div class = "inner" id="main">
					<div class = "row">
						<div class="6u 12u$(small)">
							<h3>Quick Links</h3>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#one">About</a></li>
								<li><a href="#two">Padayattil Advantage</a></li>
								<li><a href="#three">Our Services</a></li>
								<li><a href="#four">Our Clients</a></li>
							</ul>
						</div>
						<div class="6u 12u$(small)">
							<h3>Reach Us</h3>
							<ul id="reachUs">
								<li id="address"><a href="https://goo.gl/maps/7bztNNvq9oD2">PO Parakadavu, PIN : 683579, Ernakulam</a></li>
								<li id="phone">Call Us: <a href="tel:+91 8281855588">+91 8281855588</a></li>
								<li id="email">Email Us: <a href="mailto:info@padayattil.com">info@padayattil.com</a></li>
							</ul>
						</div>
					</div>
					
					<div class="copyright">
						&copy; Padayattil 2017
					</div>
				</div>
			</footer>
			
		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			<script src="/js/code.js"></script>
	</body>
</html>